<footer class="site-footer bg-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; {{ site.time | date: "%Y" }} Rashed Zaman. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="#" class="me-2"><i class="fab fa-github"></i></a>
        <a href="#" class="me-2"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="me-2"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>